body{
    font-family: 'Poppins', sans-serif;
}

.top-part, .footer{
    width: 80%;
    margin: auto;
}

.bg-light-green{
    background-color: #F0FFF0;
}

.sign-btn{
    background-color: #21B573;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    border: none;
    color: white;
}

.nav-item{
    padding-left: 20px;
}

.green-button{
    background-color: #21B573;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    border: none;
    color: white;
}

.banner{
    padding: 50px 0 50px 0;
}

.description, .testimonial{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-smoky{
    background-color: #F8FFFB;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.bg-smoky:hover{
    background-color: #FFFFFF;
    box-shadow: 4px 4px 21px 0px rgba(50, 50, 50, 0.67);
}

.headline{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 36px;
    color: #413960;
}

.shadow{
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 21px 0px grey;
}

.card-img-top{
    padding: 20px;
}

.card-footer img{
    width: 24px;
    height: 24px;
}

.card-footer{
    border: none;
    background-color: white;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.testimonial img{
    margin-right: 50px;
}

.bg-purple{
    background-color: #282531;
}

footer{
    color: white;
    font-size: 16px;
}

.footer{
    padding-bottom: 40px;
    padding-top: 50px;
}

.footer ul{
    list-style-type: none;
    padding: 0;
}

@media only screen and (min-width: 1440px) {
    .top-part, .footer{
        max-width: 1152px;
        margin: auto;
    }
  }
